<launch>

<!-- EKF -->
<node pkg="test_pkg" type="quadcopter_ekf_multiple" name="quadcopter_ekf" output="screen">
</node>

<node pkg="test_pkg" type="slider_multiple" name="slider_multiple" output="screen">
</node>

<node pkg="test_pkg" type="path_follower_test_copy" name="path_follower_test_copy" output="screen">
</node>

<node pkg="test_pkg" type="deserializeForAndroid" name="Deserializer" output="screen">
</node>

</launch>
