<launch>

<!--Formation-->
  <node name="formation_stablization" pkg="test_pkg" type="formation_stabilization.py" output="screen">
		<remap from="/turtle0/goal_pose" to="/raphael/relativeGoal"/>
		<remap from="/turtle1/goal_pose" to="/bellini/relativeGoal"/>
		<remap from="/turtle2/goal_pose" to="/titian/relativeGoal"/>
		<remap from="/turtle3/goal_pose" to="/leonardo/relativeGoal"/>
		<remap from="/turtle4/goal_pose" to="/michelangelo/relativeGoal"/>

		<remap from="/turtle0/pose" to="/raphael/toFormation"/>
		<remap from="/turtle1/pose" to="/bellini/toFormation"/>
		<remap from="/turtle2/pose" to="/titian/toFormation"/>
		<remap from="/turtle3/pose" to="/leonardo/toFormation"/>
		<remap from="/turtle4/pose" to="/michelangelo/toFormation"/>
  </node>

<node pkg="test_pkg" type="formation_translation" name="formationtranslation">
</node>


<!-- EKF -->

<node pkg="test_pkg" type="slider_multiple" name="slider_multiple">
</node>

<node pkg="test_pkg" type="deserializeForAndroid" name="deserialize">
</node>

<!--CONTROLS FOR TURTLEBOTS-->

<group ns="michelangelo">
<node pkg="test_pkg" type="goto" name="goto_michelangelo">
</node>
</group>

<group ns="donatello">
<node pkg="test_pkg" type="goto" name="goto_donatello">
</node>
</group>

<group ns="raphael">
<node pkg="test_pkg" type="goto" name="goto_raphael">
</node>
</group>

<group ns="leonardo">
<node pkg="test_pkg" type="goto" name="goto_leonardo" output="screen">
</node>
</group>

<group ns="boticelli">
<node pkg="test_pkg" type="goto" name="goto_donatello">
</node>
</group>

<group ns="giotto">
<node pkg="test_pkg" type="goto" name="goto_giotto" output="screen">
</node>
</group>

<group ns="bellini">
<node pkg="test_pkg" type="goto" name="goto_bellini" output="screen">
</node>
</group>

<group ns="ghiberti">
<node pkg="test_pkg" type="goto" name="goto_donatello" output="screen">
</node>
</group>

<group ns="masaccio">
<node pkg="test_pkg" type="goto" name="goto_bernini" output="screen">
</node>
</group>

<group ns="titian">
<node pkg="test_pkg" type="goto" name="goto_bernini" output="screen">
</node>
</group>

<group ns="picasso">
<node pkg="test_pkg" type="goto" name="goto_donatello" output="screen">
</node>
</group>


<group ns="dali">
<node pkg="test_pkg" type="goto" name="goto_bernini" output="screen">
</node>
</group>

<group ns="goya">
<node pkg="test_pkg" type="goto" name="goto_bernini" output="screen">
</node>
</group>

</launch>
